-
  post.title = 'Unity Hex Grid System'
  post.date = '2020-05-14'
  post.tags = ['Unity', 'GameDev', 'Tutorial', 'Hex Grid', 'Basics']
  post.description = 'Tutorial on how to create a hex grid system in Unity, simple and powerful.'
script(src='/hexgrid.js')
p
  | In this article I'd like to share a very simple hex grid system I've used in my
  | #[a(href="https://play.google.com/store/apps/details?id=com.alphamagenta.HexLaser") Hex Laser Puzzle]
  | game.
figure
  video(width="320" height="240" controls autoplay="true" muted="true")
    source(src="/media/posts/hex/hlp-01.mp4")
