extends ../layout.pug

block prepend title
  | Hex Comb

block append links
  link(rel="stylesheet" href="/hexcomb.css")
  //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css")

block content
  #app
  script(src="/hexcomb.js")
