.cal {
    --cal-size: 64px;
    --cal-font-size: 32px;

    display: inline-block;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    background-color: var(--color-red);
    background: linear-gradient(60deg, var(--color-red), var(--color-magenta));
}

.cal--small {
    --cal-size: 40px;
    --cal-font-size: 18px;
}

.cal__day {
    font-size: var(--cal-font-size);
    width: var(--cal-size);
    height: var(--cal-size);

    line-height: var(--cal-size);
    background: #fff;
}

.cal__sub {
    color: #fff;
    width: var(--cal-size);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-size--small);
    line-height: 24px;
}

.cal__month, .cal__year {
    display: inline-block;
}

.cal__year::before {
    content: '\'';
}
