.topnav {
    --gap: 8px;

    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: 0 calc(-1 * var(--gap));
    padding: var(--gap) 0;

    font: var(--font-weight--alt) 16px/32px var(--font-face--alt);
}

.topnav__logo, .topnav__links, .topnav__icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.topnav__logo {
    flex: 1;
}

.topnav__link, .topnav__icon, .topnav__item {
    padding: 0 var(--gap);
}

.topnav__link {
    color: var(--color-fg);
    text-decoration: none;

    &:hover, &:active {
        color: var(--color-link);
    }
    &:visited {
        color: inherit;
    }
}

.topnav__icon {
    display: block;
}

.topnav__icon svg {
    display: block;
    width: 28px;
    height: 28px;
    fill: var(--color-fg);
    transition: fill .3s;

    &:hover, &:active {
        fill: var(--color-link);
    }
}

.topnav__aside {
    display: flex;
    flex-flow: row nowrap;
}

@media (max-width: 640px) {
    .topnav {
        flex-flow: row wrap;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -16px;
            right: -16px;
            height: 2px;
            background: linear-gradient(to right, var(--color-red), var(--color-magenta));
        }
    }

    .topnav__links {
        order: 3;
        flex: 0 0 100%;
    }
}
