.topnav {
    --gap: 8px;

    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: 0 calc(-1 * var(--gap));
    padding: var(--gap) 0;

    font: var(--font-weight--alt) 16px/32px var(--font-face--alt);
    font-weight: 500;
}

.topnav-logo, .topnav-links, .topnav-icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.topnav-logo {
    flex: 1;
}

.topnav-link, .topnav-icon, .topnav-item {
    padding: 0 var(--gap);
}

.topnav-link {
    color: var(--color-fg);
    text-decoration: none;

    &:hover, &:active {
        color: var(--color-link);
    }
    &:visited {
        color: inherit;
    }
}

.topnav-icon {
    display: block;
}

.topnav-icon svg {
    display: block;
    width: 28px;
    height: 28px;
    fill: var(--color-fg);
    transition: fill .3s;

    &:hover, &:active {
        fill: var(--color-link);
    }
}

.topnav-aside {
    display: flex;
    flex-flow: row nowrap;
}

@media (max-width: 480px) {
    .topnav {
        flex-flow: row wrap;
    }

    .topnav-links {
        order: 3;
        flex: 0 0 100%;
    }
}
