a {
    color: var(--color-link);
}

a:visited {
    color: var(--color-link--visited);
}

a[target="_blank"]::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -8px;
    border: 4px solid transparent;
    border-top-color: hsl(280deg, 50%, 75%);
    transform: translate(6px, -12px) rotate(-135deg);
}

img, svg {
    max-width: 100%;
    border-radius: 2px;
}

figure {
    margin: 0;
}

code {
    font-family: var(--font-face--code), monospace;
    font-size: var(--font-size--code);
    color: var(--color-code);
    /* background: var(--color-code--bg); */
    /* padding: 1px 4px; */
    border-radius: 2px;
}

pre {
    position: relative;
    line-height: 1em;
    border-radius: 2px;
}

pre code {
    font-size: var(--font-size--code-block);
}

pre::after {
    left:100%
}

h1 {
    font: var(--font-weight--alt) 32px/1.3 var(--font-face--alt);
    margin: 1em 0;
}

h2 {
    font: 400 28px/1.3 var(--font-face--alt);
    margin: 2em 0 1em;
}

.centered, figure {
    text-align: center;
}

.subtle, .caption, figcaption {
    font-size: var(--font-size--small);
    color: var(--color-subtle);
}

.subtitle {
    margin: -1em 0 2em 0;
    color: var(--color-subtle);
    font-style: italic;
}

.sidenote {
    font-size: var(--font-size--small);
    color: var(--color-subtle);
}

.kicker {
    font-size: 1.25em;
}

:target {
    background: var(--color-target);
}

.shadow img {
    box-shadow: 0 5px 17px rgba(0,0,0,.25);
}

.hide {
    display: none;
}

.tldr {
    position: relative;
    border-left: 2px solid var(--color-tldr);
    background: var(--color-tldr--bg);
    padding: 2em;
    border-radius: 1px;

    &::before {
        content: 'TL;DR';
        position: absolute;
        top: 0;
        left: 0;
        background: var(--color-tldr);
        color: #fff;
        padding: 0 4px;
        margin-left: -2px;
        border-radius: 1px;

        font-size: var(--font-size--smaller);
    }
}
