a {
    color: var(--color-link);
}

a:visited {
    color: var(--color-link--visited);
}

img {
    max-width: 100%;
}

code {
    font-family: var(--font-face--code), monospace;
    font-size: var(--font-size--code);
    color: var(--color-code);
    background: var(--color-code--bg);
    padding: 1px 4px;
    border-radius: 2px;
}

pre {
    position: relative;
    line-height: 1em;
    border-radius: 2px;
}

pre::after {
    left:100%
}

.centered {
    text-align: center;
}

.subtle, .caption {
    font-size: var(--font-size--small);
    color: var(--color-subtle);
}

.subtitle {
    margin: -1em 0 2em 0;
    color: var(--color-subtle);
    font-style: italic;
}

.kicker {
    font-size: 1.25em;
}

:target {
    background: var(--color-target);
}

.shadow img {
    box-shadow: 0 5px 17px rgba(0,0,0,.25);
}
