.color-subtle {
    color: var(--color-subtle);
}

.text-small {
    font-size: var(--font-size--small);
}

.remark {
    padding-left: 2em;
    font-size: var(--font-size--small);
    color: var(--color-subtle);
}
