.hexgrid-grid path:hover {
    stroke-width: 2;
}

.hexgrid-coords,
.hexgrid-axis,
.hexgrid-label {
    pointer-events: none;
}

.hexgrid-cell {
    fill: transparent;
    stroke: var(--color-fg);
    stroke-width: .4;
}

.hexgrid-dot {
    fill: var(--color-fg);
    stroke-width: 0;
}

.hexgrid-coords {
    fill: var(--color-bg);
}
