html, body, img, form {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font: var(--font-size)/1.5 var(--font-face);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    &::before {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        width: 4px;
        background: linear-gradient(to bottom, var(--color-red), var(--color-magenta));
        background-color: var(--color-red);
        background-attachment: fixed;
    }
    &::before { left: 0 }
}

body {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
    background: var(--background);
    color: var(--color);
}

.container {
    box-sizing: border-box;
    padding: 0 1em;
    position: relative;
}

.header {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: linear-gradient(to right, var(--color-red), var(--color-magenta));
    }
}

.footer {
    padding: 1em 0;
    background: var(--color-footer);
}

.footer-grid {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.footer-icons {
    margin: 0 -8px;
}

.footer-icon {
    margin: 8px;
}

@media (min-width: 640px) {
    .container {
        width: 640px;
    }

    .header::after {
        display: none;
    }
}

@media (min-width: 960px) {
    .container {
        margin-left: 4em;
    }

    .sidenote {
        width: 200px;
        position: absolute;
        left: 100%;
        padding-left: 32px;
        transform: translateY(-100%);
    }
}

@media (min-width: 1152px) {
    .container {
        margin: 0 auto;
    }
}
