.container {
    box-sizing: border-box;
    padding: 0 1em;
    position: relative;
}

@media (min-width: 640px) {
    .container {
        width: 640px;
    }
}

@media (min-width: 960px) {
    .container {
        margin-left: 4em;
    }

    .sidenote {
        width: 200px;
        position: absolute;
        left: 100%;
        margin-top: -60px;
        padding-left: 32px;
    }
}

@media (min-width: 1152px) {
    .container {
        margin: 0 auto;
    }
}
