.post-header {
    position: relative;
    padding: 2em 0;
}

.post-title {
    margin: 8px 0;
}

.post-cal {
    margin-top: -6px;
    float: right;
}

.post-content {
    clear: both;
}

.post-tag {
    white-space: nowrap;
    display:inline-block;
    font-size: var(--font-size--small);
    text-decoration: none;

    &::before {
        content: '#';
        color: var(--color-subtle);
    }

    & + .post-tag {
        margin-left:.5em;
    }
}

.post-item {
    margin: 1em 0;
    display: flex;
    flex-flow: row nowrap;
}

.post-item-cal {
    flex: 0 0 auto;
    margin-right: 1em;
}

.post-item-title {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &, &:visited {
        color: var(--color);
    }
}

.post-empty {
    text-align: center;
    margin: 6em 0;
}
