.topnav {
    --gap: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 calc(-1 * var(--gap));
    font: var(--font-weight--alt) 16px/32px var(--font-face--alt);
}

.topnav__main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: var(--gap) 0;
}

.topnav__dot {
    position: relative;
    bottom: -4px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: linear-gradient(120deg, var(--color-red), var(--color-magenta));
    border: 2px solid var(--color-bg);
}

.topnav__link, .topnav__icon {
    padding: 0 8px;
}

.topnav__link {
    color: var(--color-fg);
    text-decoration: none;
    transition: color .3s;

    &:hover, &:active {
        color: var(--color-link);
    }
    &:visited {
        color: inherit;
    }
}

.topnav__icon {
    display: block;
}

.topnav__icon svg {
    display: block;
    width: 28px;
    height: 28px;
    fill: var(--color-fg);
    transition: fill .3s;

    &:hover, &:active {
        fill: var(--color-link);
    }
}

.topnav__aside {
    display: flex;
    flex-flow: row nowrap;
}
