:root {
    --font-face: Source Serif Pro, Palatino Linotype, serif;
    --font-size: 18px;
    --font-weight: 400;

    --font-face--alt: sans-serif;
    --font-weight--alt: 300;

    --font-face--code: Menlo, Monaco, "Courier New", Courier, monospace;
    --font-weight--code: 400;
    --font-size--code: .9em;
    --font-size--code-block: 12px;

    --font-size--small: 14px;
    --font-size--smaller: 12px;

    --color-red: hsl(355deg, 70%, 55%);
    --color-red--dark: hsl(355deg, 70%, 45%);
    --color-magenta: hsl(320deg, 50%, 55%);


    --background: var(--color-white);
    --background--alt: hsl(320deg, 20%, 95%);
    --color: hsl(200deg, 10%, 25%);
    --border-radius: 3px;

    --color-link: var(--color-red);
    --color-link--visited: var(--color-magenta);
    --color-code:  var(--color-magenta);
    --color-code--bg: var(--background--alt);
    --color-target: hsl(320deg, 25%, 95%);
    --color-subtle: hsl(320deg, 10%, 50%);

    --color-footer: hsl(200deg, 20%, 90%);

    --color-section: hsl(320deg, 25%, 90%);
    --color-section--bg: hsl(320deg, 25%, 99%);
    --color-tldr: hsl(320deg, 50%, 80%);
    --color-tldr--bg: hsl(320deg, 50%, 98%);

    --color-primary: var(--color-blue--500);
    --color-primary-text: var(--color-white);

    --link-color: var(--color-blue--500);

    --control-height: var(--sp8);
    --control-focus-color: var(--color-blue--300);

    --input-color: var(--color-black);
    --input-background: var(--color-white);
    --input-border-color: var(--color-gray--200);
    --input-icon-color: var(--color-gray--300);
    --input-icon-color--focus: var(--color-blue--300);

}
