:root {
    --sphalf: 4px;
    --sp: 8px;
    --sp2: 16px;
    --sp3: 24px;
    --sp4: 32px;
    --sp6: 48px;
    --sp8: 64px;

    --font-size: 20px;
    --font-size--small: 16px;
    --font-size--smaller: 14px;
    --font-size-code: 14px;
    --line-height: 1.5;
    --font-family: Source Serif Pro, serif;
    --font-family-alt: Source Sans Pro, sans-serif;
    --font-family-code: Menlo, Monaco, "Courier New", Courier, monospace;

    --container-width: 640px;

    --color-base-0: hsl(200deg, 10%, 100%);
    --color-base-1: hsl(200deg, 10%, 96%);
    --color-base-2: hsl(200deg, 10%, 92%);
    --color-base-3: hsl(200deg, 10%, 85%);

    --color-text-0: hsl(200deg, 10%, 20%);
    --color-text-1: hsl(200deg, 10%, 40%);
    --color-text-2: hsl(200deg, 10%, 55%);
    --color-text-3: hsl(200deg, 10%, 68%);

    --color-highlight-0: hsl(48deg, 90%, 90%);
    --color-highlight-1: hsl(48deg, 90%, 75%);
    --color-highlight-2: hsl(48deg, 75%, 65%);
    --color-highlight-3: hsl(48deg, 60%, 55%);

    --color-focus-0: hsl(210deg, 75%, 95%);
    --color-focus-1: hsl(210deg, 75%, 85%);
    --color-focus-2: hsl(210deg, 75%, 75%);
    --color-focus-3: hsl(210deg, 75%, 65%);

    --color-primary: hsl(210deg, 64%, 50%);
    --color-secondary: hsl(280deg, 40%, 60%);
    --color-subtle: var(--color-text-2);
    --color-red: hsl(0deg, 80%, 64%);
    --color-magenta: hsl(280deg, 48%, 64%);

    --link-color: var(--color-primary);
    --hex-color: var(--color-base-1);
    --hex-color--active: var(--color-base-0);
    --hex-border-color: rgba(0,0,0,.2);

    --border-radius: 4px;

    --control-size: var(--sp3);
}

html.dark {

    --color-base-0: hsl(200deg, 20%, 20%);
    --color-base-1: hsl(200deg, 20%, 26%);
    --color-base-2: hsl(200deg, 20%, 32%);
    --color-base-3: hsl(200deg, 20%, 40%);

    --color-text-0: hsl(200deg, 15%, 85%);
    --color-text-1: hsl(200deg, 15%, 75%);
    --color-text-2: hsl(200deg, 15%, 60%);
    --color-text-3: hsl(200deg, 15%, 50%);

    --color-highlight-0: hsl(48deg, 25%, 30%);
    --color-highlight-1: hsl(48deg, 25%, 40%);
    --color-highlight-2: hsl(48deg, 25%, 50%);
    --color-highlight-3: hsl(48deg, 25%, 60%);

    --hex-color: var(--color-base-0);
    --hex-color--active: var(--color-base-1);
    --hex-border-color: rgba(255,255,255,.2);
}
