extends top.pug

block body
    .header
        .header__container.container
            .topnav
                .topnav__main
                    .topnav__title
                        span Boris
                        span Okunskiy
                        span.topnav__dot
                        span dev
                .topnav__aside
                    a.topnav__link(href="/posts") Posts
                    a.topnav__link(href="/projects") Projects
                    a.topnav__link(href="/about") About
                    a.topnav__icon(
                        href="https://twitter.com/boris_okunskiy"
                        title="Boris on Twitter")
                        include ./icons/twitter
                    a.topnav__icon(
                        href="https://github.com/inca"
                        title="Boris on GitHub")
                        include ./icons/gh

                //- include ./components/theme-switch
    .content
        .content__container.container
            block content
    .footer
        .footer__container.container
