extends top.pug

block body
    .header
        .header__container.container
    .content
        .content__container.container
            block content
    .footer
        .footer__container.container
